
// Testing Colors
$tart-orange: #FC4445;
$eerie-black: #0E1428;
$silver: #BFBDC1;
$dim-gray: #6D6A75;
$lavender-gray: #C2D3CD;
$ash-gray: #AFBFC0;
$royal-blue: #0A2463;

// Theme
$primary: $tart-orange;
$secondary: $eerie-black;
$tertiary: $lavender-gray;
$quadricary: $ash-gray;
$highlight: $royal-blue;
